*{
    background-color: #17223B;
    color: #FF6768;
    text-align: center;
    /* border: 1px solid red; */
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}

.centerItems{
    justify-content: center;
    align-items: center;
}

.continer{
    height: 31.25rem;
    width: 20rem;
    padding: 10px;
    background-color: #6B778D;
}

.display{
    padding: 0.25rem;
    font-size: 2rem;
}

.secondDisplay{
    text-align: end;
}


.buttonContiner{
    background-color: #6B778D;
    display: flex;
    justify-content: center;
    padding: .25rem;
}

.button{
    font-size: 2rem;
    font-weight: 700;
    background: #263859;
    border: 0px solid transparent;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    color: #FF6768;
    padding: 1rem;
    margin: .25rem;
    flex-grow: 1;
}

.powerButton{
    font-size: 2rem;
    font-weight: 700;
    background: #263859;
    border: 0px solid transparent;
    /* border-radius: 50%; */
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    color: #FF6768;
    padding: 1rem;
    margin: .25rem;
    flex-grow: 1;
}